[logging]
logging = DEBUG

[twitter]
consumerkey = XXX
consumersecret = XXX
accesstoken = XXX
accesstokensecret = XXX

[imgur]
clientid = XXX
clientsecret = XXX
accesstoken = XXX
refreshtoken = XXX

[mongodb]

server_ip = localhost
server_port = 27017

[configs]
botname = azcoigreach
wordcloudhashtag = wordcloud, wordclouds, cloudwords, cloudword
descriptionimagestr = (http://twitter.com/azcoigreach)

outputdir = ./output
workingdir = ./working
width = 1920
height = 1080
maxwords = 50
mask
margin = 7
random_state
min_font_size = 16
max_font_size = 356
ranks_only = True
prefer_horizontal = 0.75
relative_scaling = 0.25
font_step = 2
mode = RGB
background_color = #000000
stopwords
normalize_plurals = False
font_path =  ./font/RobotoCondensed-Bold.ttf
recolor = Set2

offset = 24
end_time
start_time
tz_offset = 7
max_results = 50